<?php
//
// Global Settings
//

/* Are we in debug mode? */
DEFINE( "IN_DEBUG", "true");

/* What format to use for the date */ 
DEFINE( "DATE_FORMAT", 'd-m-Y'); // 'custom', 'Y-m-d' or 'short'

/* Where is the graphical lib? */
DEFINE( "JP_PATH", "/home/borstb/domains/borstvoeding.com/public_html/groeicurve/modules/growthcurve/jpgraph-2.2");

/* Initial layout of the measurement screen */
DEFINE( "NEW_LINES", 3);
/* How many empty lines to show? */
DEFINE( "MIN_LINES", 12);

/* The max age till when we have a ref-curve (18 years, thought it's not correct at the moment) */
DEFINE( "MAX_REF_CURVE_AGE", 567648000);

?>
